---
import '../components/GlobalStyle.astro';
import Credits from '../components/Credits.astro';

import npcs from '../../public/blabla-npcs.json'

const response = await fetch('https://api.dotgg.gg/nikke/characters/');
const jsonresponse = await response.json();
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/nikke-font-generator/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Blabla PFPs</title>

		<meta name="description" content="All of the available Blabla PFPs.">
  		<meta name="keywords" content="nikke">
		<meta name="theme-color" content="#f4d259">

		<meta name="twitter:title" content="Blabla PFPs">
		<meta name="twitter:description" content="All of the available Blabla PFPs.">
		<meta name="twitter:card" content="summary_large_image">

        <style>
            div.npc-table {
                display: flex;
                flex-wrap: wrap;
                max-width: 80%;
                justify-content: center;

                margin: auto;

                gap: 16px
            }

            img.npc {
                width: 128px;
                height: 128px;

                border-radius: 4px;
                background-color: var(--darker);
                box-shadow: 0px 0px 4px black;

                scale: 1;
                transition: scale 0.2s ease-in-out;
            }

            img.npc:hover {
                scale: 1.1;
                transition: scale 0.2s ease-in-out;
            }

            .alert {
                display: block;
                padding: 12px 16px;
                background-color: var(--darkerer);
                color: white;
                position: fixed;
                top: -300px;
                margin: 0;
                border-radius: 4px;
                left: 50%;
                transform: translate(-50%, 0%);
                
                transition: top 0.5s ease-in-out;
                box-shadow: 0px 0px 4px black;
            }

            h2 {
                text-align: center;
            }
        </style>
	</head>
	<body>
        <h1>Blabla PFPs</h1>
        <p>All of the available Blabla PFPs are displayed here. Click their image to copy their search term.</p>

        <h2>Elysion</h2>
        <div class="npc-table">
            {
                jsonresponse.map((e) => {
                    if (e.manufacturer == 'Elysion') {
                        return <img src={"https://nikke-db-legacy.pages.dev/images/sprite/" + e.img + ".png"} alt={e.name.toLowerCase()} title={e.name.toLowerCase()} class="npc" />
                    }
                })
            }
        </div>

        <br>
        <h2>Missilis</h2>
        <div class="npc-table">
            {
                jsonresponse.map((e) => {
                    if (e.manufacturer == 'Missilis') {
                        return <img src={"https://nikke-db-legacy.pages.dev/images/sprite/" + e.img + ".png"} alt={e.name.toLowerCase()} title={e.name.toLowerCase()} class="npc" />
                    }
                })
            }
        </div>

        <br>
        <h2>Tetra Line</h2>
        <div class="npc-table">
            {
                jsonresponse.map((e) => {
                    if (e.manufacturer == 'Tetra') {
                        return <img src={"https://nikke-db-legacy.pages.dev/images/sprite/" + e.img + ".png"} alt={e.name.toLowerCase()} title={e.name.toLowerCase()} class="npc" />
                    }
                })
            }
        </div>

        <br>
        <h2>Pilgrims</h2>
        <div class="npc-table">
            {
                jsonresponse.map((e) => {
                    if (e.manufacturer == 'Pilgrim') {
                        return <img src={"https://nikke-db-legacy.pages.dev/images/sprite/" + e.img + ".png"} alt={e.name.toLowerCase()} title={e.name.toLowerCase()} class="npc" />
                    }
                })
            }
        </div>

        <br>
        <h2>Abnormal</h2>
        <div class="npc-table">
            {
                jsonresponse.map((e) => {
                    if (e.manufacturer == 'Abnormal') {
                        return <img src={"https://nikke-db-legacy.pages.dev/images/sprite/" + e.img + ".png"} alt={e.name.toLowerCase()} title={e.name.toLowerCase()} class="npc" />
                    }
                })
            }
        </div>

        <br>
        <h2>NPCs</h2>
        <div class="npc-table">
            { npcs.map((e) => <img src={"https://nikke-db-legacy.pages.dev/images/sprite/" + e[1] + ".png"} alt={e[0]} title={e[0]} class="npc" />) }
        </div>

        <p class="alert">Copied!</p>

        <script>
            const npcs = document.getElementsByClassName("npc");
            const alert = document.getElementsByClassName("alert")[0];
            var prevTimeout = null;

            for (let i = 0; i < npcs.length; i++) {
                npcs[i].onclick = async (e) => {
                    try {
                        await navigator.clipboard.writeText(npcs[i].alt);
                        alert.innerHTML = 'Copied "' + npcs[i].alt + '" to clipboard.'
                        alert.style.top = '16px';

                        if (prevTimeout != null) {
                            clearTimeout(prevTimeout)
                        }
                        prevTimeout = setTimeout(() => {
                            alert.style.top = '-300px';
                        }, 2000);
                    } catch (err) {
                        
                    }
                }
            }
        </script>

        <p><a href="/nikke-font-generator/blabla">go back</a></p>
	</body>
</html>
