---
import '../components/GlobalStyle.astro';

import npcs from '../../public/blabla-npcs.json'
import raptures from '../../public/blabla-raptures.json'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/nikke-font-generator/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Blabla PFPs</title>

		<meta name="description" content="All of the available Blabla PFPs.">
  		<meta name="keywords" content="nikke">
		<meta name="theme-color" content="#f4d259">

		<meta name="twitter:title" content="Blabla PFPs">
		<meta name="twitter:description" content="All of the available Blabla PFPs.">
		<meta name="twitter:card" content="summary_large_image">

        <style is:inline>
            div.npc-table {
                display: flex;
                flex-wrap: wrap;
                max-width: 80%;
                justify-content: center;

                margin: auto;

                gap: 16px
            }

            img.npc {
                width: 128px;
                height: 128px;

                border-radius: 4px;
                background-color: var(--darker);
                box-shadow: 0px 0px 4px black;

                scale: 1;
                transition: scale 0.2s ease-in-out;

                background-repeat: no-repeat;
                background-position: 50% 50%;
            }

            img.npc:hover {
                scale: 1.1;
                transition: scale 0.2s ease-in-out;
            }

            .alert {
                display: block;
                padding: 12px 16px;
                background-color: var(--darkerer);
                color: white;
                position: fixed;
                top: -300px;
                margin: 0;
                border-radius: 4px;
                left: 50%;
                transform: translate(-50%, 0%);
                
                transition: top 0.5s ease-in-out;
                box-shadow: 0px 0px 4px black;
            }

            h2 {
                text-align: center;
            }
        </style>
	</head>
	<body>
        <h1>Blabla PFPs</h1>
        <p>All of the available Blabla PFPs are displayed here. Click their image to copy their search term.</p>

        <h2>Elysion</h2>
        <div class="npc-table" id="elysion">
        </div>

        <br>
        <h2>Missilis</h2>
        <div class="npc-table" id="missilis">
        </div>

        <br>
        <h2>Tetra Line</h2>
        <div class="npc-table" id="tetra">
        </div>

        <br>
        <h2>Pilgrims</h2>
        <div class="npc-table" id="pilgrim">
        </div>

        <br>
        <h2>Abnormal</h2>
        <div class="npc-table" id="abnormal">
        </div>

        <br>
        <h2>Skins</h2>
        <div class="npc-table" id="skins"></div>

        <br>
        <h2>NPCs</h2>
        <div class="npc-table">
            { npcs.map((e) => <img src={ (e[2] === "" ? "https://nikke-db-legacy.pages.dev/images/sprite/" : (e[2] === "nkas" ? "https://nkas.pages.dev/characters_missing_si/" : "https://nkas.pages.dev/characters/")) + e[1] + ".png"} alt={e[0]} title={e[0]} class="npc" />) }
        </div>

        <br>
        <h2>Raptures</h2>
        <div class="npc-table">
            { raptures.map((e) => <img src={"https://nkas.pages.dev/monsters/" + e[1] + ".png"} alt={"rapture " + e[0]} title={e[0]} class="npc" />) }
        </div>

        <p class="alert">Copied!</p>

        <script type="module">
            const skinsElement = document.getElementById("skins");

            // populate skin list
            const skinFetch = await fetch("https://nkas.pages.dev/nk_data/skins.json");
            const skinData = await skinFetch.json();

            const nkasL2dFetch = await fetch("https://nkas-l2d.pages.dev/characters.json");
            const nkasL2dData = await nkasL2dFetch.json();

            for (let i = 0; i < skinData.length; i++) {
                const skin = skinData[i];
                const cid = "c" + skin[0] + "_" + skin[1];

                const img = document.createElement("img");
                img.classList.add('npc');
                img.alt = (nkasL2dData[cid] ?? "Name unavailable, check later!");
                img.title = (nkasL2dData[cid] ?? "Name unavailable, check later!");
                img.src = "https://nkas.pages.dev/characters/si_c" + skin[0] + "_" + skin[1] + "_s.png";
                skinsElement.appendChild(img);
            }

            fetch('https://api.dotgg.gg/nikke/characters/').then((response) => {
                response.json().then((jsonresponse) => {
                    let pfp = {}

                    jsonresponse.map((e) => {
                        if (pfp[e.manufacturer.toLowerCase()] == undefined) {
                            pfp[e.manufacturer.toLowerCase()] = [];
                        }

                        pfp[e.manufacturer.toLowerCase()].push({
                            img: "https://nkas.pages.dev/characters/" + e.img + ".png",
                            name: e.name
                        });
                    });

                    (['elysion', 'missilis', 'tetra', 'pilgrim', 'abnormal']).forEach((s) => {
                        pfp[s].forEach((e) => {
                            const img = document.createElement("img");
                            img.classList.add('npc');
                            img.alt = e.name;
                            img.title = e.name;
                            img.src = e.img;
                            document.getElementById(s).appendChild(img);
                        });
                    });

                    const npcs = document.getElementsByClassName("npc");
                    const alert = document.getElementsByClassName("alert")[0];
                    var prevTimeout = null;

                    for (let i = 0; i < npcs.length; i++) {
                        npcs[i].onclick = async (e) => {
                            try {
                                await navigator.clipboard.writeText(npcs[i].alt);
                                alert.innerHTML = 'Copied "' + npcs[i].alt + '" to clipboard.'
                                alert.style.top = '16px';

                                if (prevTimeout != null) {
                                    clearTimeout(prevTimeout)
                                }
                                prevTimeout = setTimeout(() => {
                                    alert.style.top = '-300px';
                                }, 2000);
                            } catch (err) {
                                
                            }
                        }

                        const originalSrc = npcs[i].src;
                        const natWidth = npcs[i].naturalWidth;
                        const natHeight = npcs[i].naturalHeight;
                        const imgWidthFinal = (128 / natHeight) * natWidth;
                        const imgHeightFinal = (128 / natWidth) * natHeight;

                        npcs[i].src = "/nikke-font-generator/images/transparent.png";
                        npcs[i].style.backgroundImage = `url('${originalSrc}')`;

                        if (natHeight >= natWidth) {
                            npcs[i].style.backgroundSize = `${imgWidthFinal}px 128px`;
                        } else if (natHeight < natWidth) {
                            npcs[i].style.backgroundSize = `128px ${imgHeightFinal}px`;
                        }
                    }
                });
            });
        </script>

        <p><a href="/nikke-font-generator/blabla">go back</a></p>
	</body>
</html>
